<div class="ab-theatre-movie-container">
    <div class="ab-header">
        <div class="ab-header-button">
            <button class="ab-login-button ab-focus-color" (click)="goToLogin()" mat-raised-button> Back</button>
        </div>
        <div class="ab-header-title">
            {{headerTitle}}
        </div>
    </div>
    <div class="ab-movie-date-picker">
        <mat-form-field style="height: 67px" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input (dateInput)="dateChanged($event)" matInput [min]="movieStartDate" [max]="movieEndDate" [matDatepicker]="movieDatePicker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="movieDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #movieDatePicker disabled="false"></mat-datepicker>
          </mat-form-field>
    </div>
    <ng-template [ngIf]="showSpinner">
        <abhi-reel-spinner></abhi-reel-spinner>
    </ng-template>
    <ng-template [ngIf]="listType === 'theatreList'">
        <mat-grid-list class="ab-section" cols="3">
            <ng-template ngFor let-theatre [ngForOf]="theatreAndMovieList" let-i="index">
                <mat-grid-tile>
                    <abhi-theatre-card (onTheatreCardClick)="getSelectedTheatre($event)"
                        [theatreDetails]="theatre"></abhi-theatre-card>
                </mat-grid-tile>
            </ng-template>
        </mat-grid-list>
    </ng-template>
    <ng-template [ngIf]="listType === 'movieList'">
        <div class="container-fluid ab-section">
            <div class="row align-items-center">
                <div class="col-lg-2">
                </div>
                <ng-template ngFor let-movie [ngForOf]="selectedTheatre.movies" let-i="index">
                    <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-center">
                        <abhi-movie-card [movieData]="movie"
                            [theatreName]="selectedTheatre.theatreName" (onShowClick)="openModalForBooking($event)"></abhi-movie-card>
                    </div>
                </ng-template>
            </div>
        </div>
    </ng-template>
</div>
<ng-template [ngIf]="showModal">
    <seat-booking-modal (onBookingCancel)="cancelBooking()" (onBooking)="bookTickets($event)" [selectedMovieDetails]="selectedMovieDetails"></seat-booking-modal>
</ng-template>
