#ab-modal{
    display: block;
    background: rgba(0, 0, 0, 0.25);
}
.ab-info-heading{
    font-size: 14px;
}

.ab-info{
    margin-top: 10px;
    color: royalblue;
}

.ab-note{
    color: var(--ab-shine-red);
}