.ab-seat-selector-container{
  cursor: pointer;
    .ab-selection-catalyst.ab-selected-seats {
        fill: #0285FF;
        stroke: #15b35b;
    }
    .ab-available-seats {
        fill: #ffff;
        stroke: #15b35b;
    }
    .ab-disabled-seats {
        fill: #B1BAC9;
        stroke: #B1BAC9;
    }
}
